body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

section.body {
  margin: 0 auto;
  width: 90%;
}

nav {
  margin-bottom: 10px;
}

ul {
  padding-left: 0;
  list-style: none;
}

ul > li {
  border: solid 1px #ccc;
  padding: 8px;
  width: 80px;
  display: inline-block;
  text-align: center;
}

.card {
  border: solid 1px #999;
  border-radius: 8px;
  width: 250px;
}

input[type="text"] {
  width: 200px;
  height: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

table th {
  background-color: #777;
  color: white;
}

th,
td {
  height: 30px;
}

tr > td {
  padding: 8px;
}

tr > td.id {
  text-align: center;
  width: 120px;
}

td.company {
  text-align: center;
  width: 150px;
}

td.price {
  text-align: right;
  width: 100px;
}

footer {
  margin-top: 20px;
}
